<section id="admin-users--container" class="container">

    <div class="columns margin-top-5">
        <div class="column is-11-mobile is-11-tablet is-12-desktop mx-auto">

            <div class="header">
                {{>_admin/users/layouts/header}}
            </div>

            <div class="search">
                {{>_admin/users/layouts/search}}
            </div>

            <div class="content">
                {{>_admin/users/layouts/content}}
            </div>

        </div>
    </div>

</section>

{{>_admin/secretarias/components/modals/create}}
{{>_admin/users/components/modals/delete}}

<script defer src="/js/components/modal.module.js"></script>
<script defer src="/js/admin/users.module.js"></script>

<script>
    function userDeleteSetIdAndRole(id, role) {

    const form = document.querySelector('form#user-delete--form')
    form.setAttribute('action', `/admin/users/delete/${id}/${role}`)
    console.log(`form ${form.id} set action attr. as /admin/users/delete/${id}/${role}`)
}
</script>