<div class="columns is-multiline">
    <div class="column is-12">
        <div class="box has-background-warning-90 has-text-centered">
            <header>
                <h5 class="title is-size-5 has-text-warning-50">Complete o seu Perfil</h5>
            </header>

            <div class="content mt-4">
                <p class="has-text-grey">
                    Caro Usuário, agradecemos pelo Registro em nossa Plataforma! Informamos que a sua Conta encontra-se
                    com o Privilégio 'Usuário', pelo que não terá acesso as Funcionalidades do Privilégio de
                    'Estudante'.
                    <br><br>
                    <span class="has-text-warning-50 has-text-weight-semibold">
                        Para Validar a sua Conta para Estudante, complete o seu Perfil com mais Dados e Foto
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="column is-12">
        <div class="box has-background-success-90 has-text-centered">
            <header>
                <h5 class="title is-size-5 has-text-primary-40">Promover Conta para Estudante</h5>
            </header>

            <div class="content mt-4">
                <p class="has-text-grey">
                    Parabéns, estás há um clique de Promover a sua Conta para Estudante!
                </p>
                <br><br>
                <button type="submit" form="user-update-role--form" class="button is-primary">
                    Promover a Conta
                </button>
            </div>
        </div>
    </div>
</div>

<form action="/user/update/role" method="post" id="user-update-role--form"></form>