<nav class="navbar is-fixed-top container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <figure class="image">
                <img src="/files/img/logo/favicon.png" alt="ASS">
            </figure>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Início
            </a>

            <a class="navbar-item">
                Serviços
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Mais
                </a>

                <div class="navbar-dropdown">

                    <a class="navbar-item">
                        <i class="bx bx-info-circle"></i>
                        <span>Como funciona?</span>
                    </a>

                    <a class="navbar-item">
                        <i class="bx bx-phone"></i>
                        <span>Contactos</span>
                    </a>

                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                {{#if user}}
                <div class="buttons">
                    <button type="submit" form="user-signout--form" class="button is-ghost has-background-danger-90 has-text-danger-60 is-flex is-gap-1">
                        <i class="bx bx-log-out"></i>
                        <span>Sair</span>
                    </button>
                </div>
                {{else}}
                <div class="buttons">
                    <a href="/user/sign?action=up" class="button is-primary">
                        <strong>Criar Conta</strong>

                    </a>
                    <a href="/user/sign?action=in" class="button is-light">
                        Entrar
                    </a>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</nav>

<form action="/user/sign/out" method="post" id="user-signout--form"></form>

<script defer src="/js/components/navbar.func.js"></script>