<!DOCTYPE html>
<html class="theme-light" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASS</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="/files/img/logo/favicon-color.png" type="image/x-icon">
    <!-- bulma css -->
    <link rel="stylesheet" href="/bulma/css/bulma.min.css">
    <!-- boxicons css -->
    <link rel="stylesheet" href="/boxicons/css/boxicons.min.css">
    <!-- bulma cdn -->
    <!-- boxicons cdn -->
    <!-- our css -->
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
    <header>
        {{>_navbar}}
    </header>

    <main class="margin-top-5">
        {{{body}}}
    </main>

    <footer></footer>

    <script src="/js/libs/jquery.js"></script>
</body>

</html>