<div class="modal" id="secretaria-create--modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Cadastrar {{role}}</p>
            <button class="delete" aria-label="close"></button>
        </header>

        <section class="modal-card-body">
            <form action="/admin/users/create/Secretaria" method="post" id="secretaria-create--form">

                <div class="columns is-multiline">

                    <div class="column is-12">
                        <div class="field">
                            <label class="label">Nome Completo</label>
                            <div class="control">
                                <input name="createSecretariaName" id="createSecretariaName" class="input" type="text"
                                    placeholder="ex.: Maria Baptista">
                            </div>
                        </div>
                    </div>

                    <div class="column is-12-mobile is-6-tablet">
                        <div class="field">
                            <label class="label">Telefone</label>
                            <div class="control">
                                <input name="createSecretariaTel" id="createSecretariaTel" class="input" type="text"
                                    placeholder="ex.: 933132559">
                            </div>
                        </div>
                    </div>

                    <div class="column is-12-mobile is-6-tablet">
                        <div class="field">
                            <label class="label">BI</label>
                            <div class="control">
                                <input name="createSecretariaBI" id="createSecretariaBI" class="input" type="text"
                                    placeholder="ex.: 006923496BE044">
                            </div>
                        </div>
                    </div>

                    <div class="column is-12">
                        <div class="field">
                            <label class="label">Senha</label>
                            <div class="control">
                                <input class="input" type="text" value="secretaria2026" disabled>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </section>

        <footer class="modal-card-foot">
            <div class="buttons w-100 is-flex is-justify-content-space-between">
                <button class="button">Cancelar</button>
                <button type="submit" form="secretaria-create--form" class="button is-primary">Cadastrar</button>
            </div>
        </footer>
    </div>
</div>