<section id="profile--content" class="container">

	<div class="columns">

		<div class="column is-12-mobile is-6-tablet is-4-desktop">
		
			<div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="/files/img/users/vladmir.png" alt="User Name" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <h3 class="has-text-weight-bold has-text-primary is-size-4">User Name</h3>
                            <h4 class="has-text-weight-semibold is-size-6 mt-1">999999999</h4>
                        </div>
                    </div>

                    <div class="content">
                        <span class="tag is-light has-text-drak is-size-6">Role</span>
                    </div>
                </div>
            </div>

		</div>

		<div class="column is-12-mobile is-6-tablet is-8-desktop">
			cards actions
		</div>

	</div>

</section>