<section id="profile--content" class="container">

    <div class="columns is-multiline is-flex">

        <div
            class="column is-10-mobile is-offset-1-mobile is-6-tablet is-offset-3-tablet is-4-desktop is-offset-0-desktop">
            {{>_user/profile/components/cards/user}}
            {{>_user/profile/components/cards/edit}}
        </div>

        <div
            class="column is-10-mobile is-offset-1-mobile is-10-tablet is-offset-1-tablet is-8-desktop is-offset-0-desktop">
            {{#if (eq user.role 'Administrador')}}
            <section id="dashboard-admin" class="container">
                <div class="box has-background-link-90">
                    {{>_admin/dashboard}}
                    {{>_secretaria/dashboard}}
                </div>
            </section>
            {{/if}}
            {{#if (eq user.role 'Secretária')}}
            <section id="dashboard-secretaria" class="container">
                <div class="box has-background-link-90">
                    {{>_secretaria/dashboard}}
                </div>
            </section>
            {{/if}}
            {{#if (eq user.role 'Estudante')}}
            <section id="dashboard-estudante" class="container">
                <div class="box has-background-info-90">
                    {{>_estudante/dashboard}}
                </div>
            </section>

            {{/if}}
            {{#if (eq user.role 'Usuário')}}
            {{>_user/profile/layouts/info}}
            {{/if}}
        </div>

    </div>

</section>