<section id="dashboard-admin" class="container">


    <div class="box has-background-link-90">
        <div class="columns is-multiline is-flex is-flex-wrap-wrap">

            <div class="column is-6-mobile is-3-tablet is-3-desktop">
                <a href="/admin/users/read/Usuário">
                    <div class="box has-background-link has-text-light is-flex is-flex-direction-column is-align-items-center is-gap-3">
                        <i class="bx bx-group bx-md"></i>
                        <h4 class="is-size-6-mobile is-size-4">Usuários</h4>
                    </div>
                </a>
            </div>

            <div class="column is-6-mobile is-4-tablet is-4-desktop">
                <a href="/admin/users/read/Estudante">
                    <div class="box has-background-link has-text-light is-flex is-flex-direction-column is-align-items-center is-gap-3">
                        <i class="bx bx-group bx-md"></i>
                        <h4 class="is-size-6-mobile is-size-4">Estudantes</h4>
                    </div>
                </a>
            </div>

            <div class="column is-12-mobile is-5-tablet is-5-desktop">
                <a href="/admin/users/read/Secretária">
                    <div class="box has-background-link has-text-light is-flex is-flex-direction-column is-align-items-center is-gap-3">
                        <i class="bx bx-group bx-md"></i>
                        <h4 class="is-size-6-mobile is-size-4">Secretárias</h4>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>