<div class="column is-6-mobile is-2-tablet">
    <div class="box week-day--content">

    </div>
</div>
<div class="column is-6-mobile is-2-tablet">
    <div class="box week-day--content">

    </div>
</div>
<div class="column is-6-mobile is-2-tablet">
    <div class="box week-day--content">

    </div>
</div>
<div class="column is-6-mobile is-2-tablet">
    <div class="box week-day--content">

    </div>
</div>
<div class="column is-6-mobile is-2-tablet">
    <div class="box week-day--content">

    </div>
</div>
<div class="column is-6-mobile is-2-tablet">
    <div class="box week-day--content">

    </div>
</div>
<div class="column is-6-mobile is-2-tablet">
    <div class="box week-day--content">

    </div>
</div>