<section id="secretaria-services--container" class="container">

    <div class="columns margin-top-5">
        <div class="column is-11-mobile is-11-tablet is-12-desktop mx-auto">

            <div class="header">
                {{>_secretaria/services/layouts/header}}
            </div>

            <div class="search">
                {{!-- {{>_secretaria/services/layouts/search}} --}}
            </div>

            <div class="content">
                {{>_secretaria/services/layouts/content}}
            </div>

        </div>
    </div>

</section>

<script defer src="/js/components/modal.module.js"></script>