<div class="columns is-multiline">
    {{#each services}}
    <div class="column is-12-mobile is-6-tablet is-4-desktop">
        <div class="box has-background-info-90">
            <h5 class="title has-text-info-60 has-text-centered is-size-5">{{title}}</h5>
            <div class="columns is-mobile">
                <div class="column is-6-mobile is-6-tablet">
                    <div class="box is-flex is-flex-direction-column is-gap-2 has-text-centered has-background-info-80">
                        <i class="bx bxs-dollar-circle bx-sm has-text-light"></i>
                        <span class="is-size-5">
                            <span class="has-text-link">{{price}}</span>
                            <br>
                            <span class="tag">KZ</span>
                        </span>
                    </div>
                </div>
                <div class="column is-6-mobile is-6-tablet">
                    <div class="box is-flex is-flex-direction-column is-gap-2 has-text-centered has-background-info-80">
                        <i class="bx bxs-time bx-sm has-text-light"></i>
                        <span class="is-size-5">
                            <span class="has-text-link">{{duraction}}</span>
                            <br>
                            <span class="tag">minutos</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    {{/each}}
</div>