<div class="columns is-multiline is-flex is-flex-wrap-wrap">

    <div class="column is-12-mobile is-5-tablet is-5-desktop">
        <a href="#">
            <div
                class="box has-background-link has-text-light is-flex is-flex-direction-column is-align-items-center is-gap-3">
                <i class="bx bxs-dollar-circle bx-md"></i>
                <h4 class="is-size-6-mobile is-size-4">Pagamentos</h4>
            </div>
        </a>
    </div>

    <div class="column is-6-mobile is-4-tablet is-4-desktop">
        <a href="/secretaria/schedules/read">
            <div
                class="box has-background-link has-text-light is-flex is-flex-direction-column is-align-items-center is-gap-3">
                <i class="bx bx-task bx-md"></i>
                <h4 class="is-size-6-mobile is-size-4">Marcações</h4>
            </div>
        </a>
    </div>

    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <a href="/secretaria/services/read">
            <div
                class="box has-background-link has-text-light is-flex is-flex-direction-column is-align-items-center is-gap-3">
                <i class="bx bxs-file bx-md"></i>
                <h4 class="is-size-6-mobile is-size-4">Serviços</h4>
            </div>
        </a>
    </div>

</div>