<div class="columns is-multiline">
    {{#each users}}
    <div class="column is-12-mobile is-6-tablet is-4-desktop">
        {{>_admin/users/components/cards/users}}
    </div>
    {{else}}
    <p class="has-text-centered has-text-info w-100">Nenhum(a) {{role}} Cadastrado(a)</p>
    {{/each}}
</div>