<tr>
    <td>{{title}}</td>
    <td>{{price}}</td>
    <td>{{duraction}}</td>
    <td>
        <div class="is-flex is-flex-wrap-wrap is-gap-1 is-justify-content-end">
            <button class="button">
                <i class="bx bx-edit"></i>
            </button>
            <button class="button is-ghost has-background-warning-90 has-text-warning-40">
                <i class="bx bx-archive-in"></i>
            </button>
        </div>
    </td>
</tr>